- level = level + 1

- @selected = false
- @disabled = false

- if defined?(components) && components != nil
  - components.each do |listed_component|
    - if listed_component.id == component.id
      - @selected = true
      / - @disabled = true
- else 
  - components = []

- unless component.children.blank?
  - unless defined?(override) #Allows parent elements to be selected. This is necessary so that users can add new Sub-Components to a parent element. 
    - @disabled = true

%option{ value: component.id, selected: @selected, class: "level#{level}", disabled: @disabled }
  - level.times do 
    \&nbsp;&nbsp;&nbsp;
  = component.title
- unless component.children.blank?
  - component.children.each do |child|
    = render "components/component_select", component: child, level: level, components: components