- level = level + 1

- @selected = false
- if selected_components 
  - selected_components.each do |selected_component|
    - if selected_component.id == component.id
      - @selected = true

- @disabled = false
- if !component.children.blank?
  - @disabled = true

%option{ value: component.id, selected: @selected, class: "level#{level}", disabled: @disabled }
  - level.times do 
    \&nbsp;&nbsp;&nbsp;
  = component.title
- if !component.children.blank?
  - component.children.each do |child|
    = render "components/component_select", component: child, level: level, selected_components: selected_components