- level = level + 1

- selected = nil
- disabled = nil

- if selected_components.present?
  - selected = "selected" if selected_components.any?{ |selected_component| selected_component.id == component.id }

- unless component.active
  - disabled = "disabled"

%option{ value: component.id, selected: selected, class: "level#{level}", disabled: disabled }
  - level.times do 
    \&nbsp;&nbsp;&nbsp;
  = component.title
- Family.children(@components, component).each do |child|
  = render "components/product_component_select", component: child, level: level, selected_components: selected_components