= label_tag "product_components", "Component"

- @components = Component.all
- selected_components = []

- if product_id
  - selected_components = Product.find(product_id).components

%select{id: "component_ids", name: "product[component_ids][]", :multiple => true}
  - @components.select{ |element| element.parent_id == 0 }.each do |component|
    = render "components/product_component_select", component: component, level: -1, selected_components: selected_components