#admin
  %h1 Editing Component

  = render 'form'

  .links
    = link_to 'Show', @component, data: { confirm: 'Are you sure? Any unsaved changes will be lost.' }
    = link_to 'Back', manage_components_path, data: { confirm: 'Are you sure? Any unsaved changes will be lost.' }
