#container {
  header {
    nav#user {
      background-color: $adminNavBackground;
      border-radius: 0 0 0 10px;
        -moz-border-radius: 0 0 0 10px;
        -webkit-border-radius: 0 0 0 10px;

      box-shadow: -3px 3px 8px 0px rgba(0,0,0,0.5);
        -webkit-box-shadow: -3px 3px 8px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: -3px 3px 8px 0px rgba(0,0,0,0.5);
      
      color: #fff;
      font-size: $defaultFontSize;
      padding: 5px;
      padding-left: 8px;
      position: fixed;
      top: 0px;
      right: 0px;
      white-space: nowrap;
      z-index: 999;

      //Reset
      margin-top: 0px;

      a {
        color: #fff;
      }

      a:hover {
        font-style: italic;
      }
    }
  }

  #content {
    article#admin {
      font-family: $sans-serif;
      min-height: 500px;

      header {
        margin-top: 15px;
        height: inherit;
        width: inherit;

        h1 {
          //color: $link;
          font-size: 16px;
          margin-bottom: 5px;
        }
      } 

      nav {
        position: absolute;
        bottom: 15px;

        ul {
          margin-left: -10px;

          li {
            background-color: $headerColor;
            font-size: 16px;
            margin-bottom: 3px;
            padding-left: 10px;
            text-transform: uppercase;
            width: 190px;

            a {
              display: block;
              background-color: #fff;
              padding: 6px 10px 4px 10px;
              width: 180px;
            }

            a:hover,
            a.active {
              background-color: $headerColor;
              color: $adminNavLinkRolloverColor;
            }
          }
        }
      }  

      nav#manage {  
        display: inline-block;
        position: static;
        bottom: 0px;
        vertical-align: top;

        ul {
          margin-top: 15px;

          li {
            width: 100px;

            a:link, a:active, a:visited, {
              color: $adminLinkColor;
              width: 90px;
            }

            a:hover {
              color: $adminNavLinkRolloverColor;
              text-decoration: none;
            }
          }
        }
      }   

      section {
        display: inline-block;
        vertical-align: top;

        header {}

        table {
          background-color: rgba(255, 255, 255, .75);
          border-collapse: initial;
          border-color: $tableBorderColor;
          border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
          border-style: solid;
          border-width: 2px;
          padding: 7px 10px;
          margin: 15px 0;
          min-width: 830px;
          width: 100%;

          thead {
            tr {
              th {
                font-size: $defaultFontSize;
                font-weight: bold;
                padding: 5px 5px 10px 5px;
                text-align: left;
                vertical-align: middle;

                border-width: 0 0 2px 0 ;
                border-color: $tableBorderColor;
                border-style: solid;
              }
            }
          }

          tbody {
            tr:first-child td {
              padding-top: 10px;
            }

            tr {
              td {
                font-size: 11px;
                padding: 5px;
                max-width: 200px;
                text-align: left;
                vertical-align: middle;
              }

              td.center {
                text-align: center;
              }

              td span:after {
                content: ",";
              }

              td span:last-child:after {
                content: "";
              } 

              td.controls,
              td:last-child {
                text-align: right;
                white-space: nowrap;

                a {
                  @include mini-admin-button;
                }
              }

              td img {
                @include hint
              }
            }

            tr.inactive {
              background-color: #FCC;
            }

            tr:hover,
            tr.inactive:hover {
              background-color: $lightOdd;
            }
          }
        }
      }
    }

    header,
    footer {
      .links {
        margin: 20px 0;
        
        a {
          @include mini-admin-button;
        }
      }
    }
  }
}