- if current_admin
  %nav#manage
    %ul
      %li= link_to "Figures",       manage_figures_path
      /%li= link_to "Carousels",     carousels_path
      /%li= link_to "Images",        images_path
      %li= link_to "Pages",         manage_pages_path
      %li= link_to "Skins",         manage_skins_path