- if current_admin
  %nav#manage
    %ul
      %li= link_to "Figures",       figures_path
      /%li= link_to "Carousels",     carousels_path
      /%li= link_to "Images",        images_path
      %li= link_to "Pages",         pages_path
      %li= link_to "Skins",         skins_path