%article#admin
  %header
    %h1 Admin Dashboard

  = render "admins/admin_nav"

  %section
    %p
      Welcome to the Admin Dashboard. You can manage the different areas of the site using the navigation to the left. 