%article#admin
  = render "layouts/partials/admin_nav", title: "Admins"

  %section
    %header
      / %h1 Admins

      .links

    - if @admins
      %table
        %thead
          %tr
            %th Id
            %th Username/Email
            %th
        %tbody
          - @admins.each do |admin|
            %tr
              %td.center
                = admin.id
              %td
                = admin.email
              %td.controls
                = link_to 'Destroy', destroy_admin_path(admin), method: :delete, data: { confirm: 'Are you sure?' }