#admin
  %h1 Editing Dimension

  = render 'form'

  .links
    = link_to 'Show', @dimension, data: { confirm: 'Are you sure? Any unsaved changes will be lost.' }
    = link_to 'Back', manage_dimensions_path, data: { confirm: 'Are you sure? Any unsaved changes will be lost.' }
