@font-face {
  font-family: 'BoldCondensed';
  src: font-url('BoldCondensed.eot');
  src: font-url('BoldCondensed.eot?#iefix') format('embedded-opentype'),
       font-url('BoldCondensed.woff2') format('woff2'),
       font-url('BoldCondensed.woff') format('woff'),
       font-url('BoldCondensed.ttf') format('truetype'),
       font-url('BoldCondensed.svg#BoldCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BoldCondensedOblique';
  src: font-url('BoldCondensedOblique.eot');
  src: font-url('BoldCondensedOblique.eot?#iefix') format('embedded-opentype'),
       font-url('BoldCondensedOblique.woff2') format('woff2'),
       font-url('BoldCondensedOblique.woff') format('woff'),
       font-url('BoldCondensedOblique.ttf') format('truetype'),
       font-url('BoldCondensedOblique.svg#BoldCondensedOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LightCondensed';
  src: font-url('LightCondensed.eot');
  src: font-url('LightCondensed.eot?#iefix') format('embedded-opentype'),
       font-url('LightCondensed.woff2') format('woff2'),
       font-url('LightCondensed.woff') format('woff'),
       font-url('LightCondensed.ttf') format('truetype'),
       font-url('LightCondensed.svg#LightCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LightCondensedOblique';
  src: font-url('LightCondensedOblique.eot');
  src: font-url('LightCondensedOblique.eot?#iefix') format('embedded-opentype'),
       font-url('LightCondensedOblique.woff2') format('woff2'),
       font-url('LightCondensedOblique.woff') format('woff'),
       font-url('LightCondensedOblique.ttf') format('truetype'),
       font-url('LightCondensedOblique.svg#LightCondensedOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MediumCondensedOblique';
  src: font-url('MediumCondensedOblique.eot');
  src: font-url('MediumCondensedOblique.eot?#iefix') format('embedded-opentype'),
       font-url('MediumCondensedOblique.woff2') format('woff2'),
       font-url('MediumCondensedOblique.woff') format('woff'),
       font-url('MediumCondensedOblique.ttf') format('truetype'),
       font-url('MediumCondensedOblique.svg#MediumCondensedOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MediumCondensed';
  src: font-url('MediumCondensed.eot');
  src: font-url('MediumCondensed.eot?#iefix') format('embedded-opentype'),
       font-url('MediumCondensed.woff2') format('woff2'),
       font-url('MediumCondensed.woff') format('woff'),
       font-url('MediumCondensed.ttf') format('truetype'),
       font-url('MediumCondensed.svg#MediumCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UltraLightCondensed';
  src: font-url('UltraLightCondensed.eot');
  src: font-url('UltraLightCondensed.eot?#iefix') format('embedded-opentype'),
       font-url('UltraLightCondensed.woff2') format('woff2'),
       font-url('UltraLightCondensed.woff') format('woff'),
       font-url('UltraLightCondensed.ttf') format('truetype'),
       font-url('UltraLightCondensed.svg#UltraLightCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UltraLightCondensedOblique';
  src: font-url('UltraLightCondensedOblique.eot');
  src: font-url('UltraLightCondensedOblique.eot?#iefix') format('embedded-opentype'),
       font-url('UltraLightCondensedOblique.woff2') format('woff2'),
       font-url('UltraLightCondensedOblique.woff') format('woff'),
       font-url('UltraLightCondensedOblique.ttf') format('truetype'),
       font-url('UltraLightCondensedOblique.svg#UltraLightCondensedOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}