%article#admin
  %header
    %h1 
      Editing Carousel:
      %span.highlight
        = @carousel.title
  
  = render 'form'

  %footer
    .links
      = link_to 'Show', @carousel, data: { confirm: 'Are you sure? Any unsaved changes will be lost.' }
      = link_to 'Back', manage_carousels_path, data: { confirm: 'Are you sure? Any unsaved changes will be lost.' }