%article#admin
  %header
    %h1 New Carousel

  = render 'form'

  %footer
    .links
      = link_to 'Back', manage_carousels_path, data: { confirm: 'Are you sure? Any unsaved changes will be lost.' }
