.page{:id=>"#{@page.name}"}
  %article
    %header
      %h1
        = @page.header
    %p
      Martin Home Furnishings is a furniture manufacturer, creator of products that are outstanding in style, quality and service. We strive to provide the highest levels of customer satisfaction through designs, functionality, materials and the added value that our products explicitly convey when becoming part of their home or office.
      %br
      %br
      In our pursuit to maintain and further our reputation as a manufacturer that is dedicated to recognize customer needs, we are committed to using superior materials, experienced craftsmanship, innovative designs and be obsessive about the high quality of our products and service. Our objective is to continue to be a leader in the industry we represent.
      %br
      %br
      We work as a team. Constantly nourishing open and honest communication, equal and fair treatment in an atmosphere that encourages professionalism, creativity, ownership, participation and pride in our work. Our excellence comes from people, our most valuable asset. We foster ambition, honesty, growth and independent thought through a caring, honorable, ethical and straightforward leadership that rewards people's efforts with praise and promotion.
      %br
      %br
      We are mindful of how our operations may have an impact on our community and environment. We make every effort to be good citizens by being sensitive to environmental needs, a respected employer in the community and giving back through programs involving charitable organizations or special events.
      %br
      %br
      Our goal is to manufacture the best-valued product in the marketplace, in a good, safe, caring and rewarding workplace. To maintain and grow our segment in the marketplace which will provide Martin Home Furnishings with the financial integrity and profit to our shareholders in return for their investment.  