%svg.arrow{"enable-background" => "new 0 0 20.901 49.678", :height => "49.678px", :version => "1.1", :viewbox => "0 0 20.901 49.678", :width => "20.901px", :x => "0px", :y => "0px", title: "Next"}
  %g
    %path{:d => "M1.213,48.929l12.021-24.073L1.245,0.75h6.832l11.988,24.105L8.077,48.929H1.213z", :fill => "#010101", :fill => "#000000", :stroke => "#000000", "stroke-width" => "1.5"}