%svg.arrow{"enable-background" => "new 0 0 20.901 49.678", :height => "49.678px", :version => "1.1", :viewbox => "0 0 20.901 49.678", :width => "20.901px", :x => "0px", :y => "0px", title: "Previous"}
  %g
    %path{:d => "M19.688,0.75L7.669,24.823l11.988,24.105h-6.832L0.837,24.823\r\n\t\tL12.825,0.75H19.688z", :fill => "#010101", :fill => "#000000", :stroke => "#000000", "stroke-width" => "1.5"}