%svg#email{"enable-background" => "new 0 0 76 54", height: "54px", version: "1.1", viewbox: "0 0 76 54", width: "76px", x: "0px", y: "0px", title: "Email"}
  %namedview{bordercolor: "#666666", borderopacity: "1", "fit-margin-bottom" => "0", "fit-margin-left" => "0", "fit-margin-right" => "0", "fit-margin-top" => "0", gridtolerance: "10", guidetolerance: "10", objecttolerance: "10", pagecolor: "#ffffff", showgrid: "false", showguides: "true"}
  %g{transform: "translate(-6,6)"}
    %rect{height: "59.899", width: "80.67", x: "3.424", y: "-8.881"}
    %path{d: "M3-9h82v60H3V-9z M3-9l37,37c2.667,2,5.334,2,8,0L85-9 M3,51l30-30 M55,21l30,30", stroke: "#FFFFFF", "stroke-width" => "6"}