!!! XML
/ Generator: Adobe Illustrator 15.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)
!!! 1.1
%svg#Content{"enable-background" => "new 0 0 15 15", :height => "15px", :version => "1.1", :viewbox => "0 0 15 15", :width => "15px", :x => "0px", "xml:space" => "preserve", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
  %symbol#New_Symbol_233{:viewbox => "-8 -8 16 16"}
    %polygon{:points => "-3.172,-1.758 -6.208,-4.793 -8,-3 -8,-8 -3,-8 -4.792,-6.207 -1.757,-3.173  "}
    %polygon{:points => "3,8 4.792,6.207 1.757,3.172 3.172,1.757 6.208,4.793 8,3 8,8  "}
    %polygon{:points => "-3.172,1.758 -1.758,3.172 -4.792,6.207 -3,8 -8,8 -8,3 -6.208,4.793"}
    %polygon{:points => "3.172,-1.757 1.757,-3.173 4.792,-6.207 3,-8 8,-8 8,-3 6.207,-4.793"}
  %use#XMLID_1_{:height => "16", :overflow => "visible", :transform => "matrix(0.9375 0 0 -0.9375 7.5 7.5)", :width => "16", :x => "-8", "xlink:href" => "#New_Symbol_233", :y => "-8"}