!!! XML
/ Generator: Adobe Illustrator 15.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)
!!! 1.1
%svg#print{"enable-background" => "new 0 0 52 52", :height => "52px", :version => "1.1", :viewbox => "0 0 52 52", :width => "52px", :x => "0px", "xml:space" => "preserve", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px", title: "Print"}
  %rect{:fill => "#666666", :height => "1.875", :width => "3.75", :x => "33.5", :y => "19.438"}
  %rect{:fill => "#666666", :height => "3.75", :width => "11.25", :x => "20.375", :y => "13.812"}
  %polygon{:fill => "#666666", :points => "16.625,30.688 18.5,30.688 18.5,26.938 20.375,26.938 20.375,30.688 20.375,34.438 20.375,38.188 27.875,38.188 27.875,34.438 29.75,34.438 31.625,34.438 31.625,30.688 31.625,26.938 33.5,26.938 33.5,30.688 37.25,30.688 37.25,25.062 16.625,25.062"}
  %path{:d => "M26,1C12.193,1,1,12.192,1,26c0,13.807,11.193,25,25,25c13.808,0,25-11.193,25-25C51,12.192,39.808,1,26,1zM41,34.438h-7.5v1.875h-1.875v1.875v1.875h-11.25H18.5v-1.875v-3.75H11V17.562h7.5v-3.75v-1.875h1.875H33.5v1.875v3.75H41V34.438z", :fill => "#666666"}