// base10 SCSS Mixins
@import '../base10_scss_mixins/base10_mixins';


a, a:link, a:visited, a:active {
  color: $dark;
}

a:before,
a:after {
  font-family: FontAwesome;
}

.hidden {
  display: none !important;
}

.overflow {
  overflow-x: auto;
  overflow-y: hidden;
}

#messages {
  cursor: pointer;
  font-weight: bold;
  font-size: rem(12);
  position: relative;
  

  #flash_notice, #flash_error, #flash_alert {
    @include flex(1);
    
    font-size: rem(12);
    padding: rem(5) rem(8);
  }

  #flash_notice {
    background-color: #CFC;
    border-color: #6C6;
    border-style: solid;
    border-width: 0 0 rem(1) 0;
    color: #6C6;
  }

  #flash_error, #flash_alert {    
    background-color: #FCC;
    border-color: #C33;
    border-style: solid;
    border-width: 0 0 rem(1) 0;
    color: #C33;
  }
}

#error-explanation {
  @include flex-direction(column);

  background-color: #FCC;
  border-color: $error;
  border-style: solid;
  border-width: rem(2);
  border-radius: rem(5);
  margin-bottom: rem(20);

  h2 {
    background-color: $error;
    border-color: $error;
    border-style: solid;
    border-width: 0 0 rem(2) 0;
    border-radius: rem(3) rem(3) 0 0;
    color: $neutral;
    font: $bodyFontSemiBold;
    font-size: rem(16);
    line-height: rem(16);
    padding: rem(15);
    text-transform: none;
  }

  ul {
    @include flex-direction(column);

    list-style-type: disc;
    margin: rem(20) rem(20) rem(20) rem(40);
    
    li {
      display: list-item;
      // @include flex-direction(row);
      // @include flex(0 1 auto);

      color: $dark;
      font-size: rem(14);
      font-weight: bold;
      margin: rem(3);
    }

    // li:before {
    //   color: $neutral;
    //   content: "*";
    //   font-size: rem(10);
    //   margin-right: rem(1);
    // }

    // li:after {
    //   content: ",";
    //   // display: inline-block;
    //   margin-left: rem(1);
    // }

    // li:last-of-type:after {
    //   content: none;
    // }
  }
}