.active
  %h2
    Video Info
    = link_to_remove_fields f

  .field
    = f.label :url, "YouTube URL"
    = f.url_field :url
    %span.instructions
      (e.g.: http://www.youtube.com/embed/vijk89SaN6c)