#admin
  %h1 Editing Video

  = render 'form'

  .links
    = link_to 'Show', @video, data: { confirm: 'Are you sure? Any unsaved changes will be lost.' }
    = link_to 'Back', manage_videos_path, data: { confirm: 'Are you sure? Any unsaved changes will be lost.' }
