.content-block
  %h2
    = block.name

  - if block.content.present?
    %p
      = block.content

  - if block.items.present?
    %ul
      - block.items.each do|item|
        %li
          = item.name