.content-block
  - unless block.section_type_id === SectionType::CONTACT
    %h2
      = block.name

  - if block.content.present?
    = raw block.content

  - if block.items.present?
    %ul
      - block.items.each do|item|
        %li
          = linked(item)