- level = level + 1

- selected = nil
- disabled = nil

- if f.object.parent_id != 0 && f.object.parent_id != nil
  - if f.object.parent_id == section.id
    - selected = "selected"

- if f.object.id == section.id || !f.object.active
  - disabled = "disabled"

%option{ value: section.id, selected: selected, class: "level#{level}", disabled: disabled }
  - level.times do 
    \&nbsp;&nbsp;&nbsp;
  = section.title
- Family.children(@sections, section).each do |child|
  = render "sections/section_select", section: child, level: level, f: f
