#admin
  %h1 Editing Section

  = render 'form'

  .links
    = link_to 'Show', @section, data: { confirm: 'Are you sure? Any unsaved changes will be lost.' }
    = link_to 'Back', admin_sections_path, data: { confirm: 'Are you sure? Any unsaved changes will be lost.' }
