#admin
  %table
    %thead
      %tr
        %th Name:
        %th Title:
        %th Child Sections:
    %tbody
      %tr
        %td= @section.name
        %td= @section.title
        / %td= @section.children.length

  .links
    = link_to 'Edit', edit_section_path(@section)
    \|
    = link_to 'Back', sections_path
