%article
  %header
    %h1
      Create New Gallery User

  %p
    Please fill out the form below to create a new product gallery user.

  = render "/users/registrations/new_user_form" 

  %footer
    =# render "users/shared/links"