#admin
  %table
    %thead
      %tr
        %th Name:
        - if defined? @finish.image
          %th Image:
    %tbody
      %tr
        %td
          = @finish.name
        - if defined? @finish.image
          - @finish.image.each do |img|
            %td= image_tag img.asset_url(:thumb).to_s

  .links
    = link_to 'Edit', edit_finish_path(@finish)
    \|
    = link_to 'Back', finishes_path