#admin
  %table
    %thead
      %tr
        %th Name:
        %th Image:
    %tbody
      %tr
        %td
          = @finish.name
        %td
          - if @finish.images.blank?
            n/a
          -else 
            - @finish.images.each do |image|
              = cl_image_tag(image.asset.filename.to_s, transformation: "thumb", alt: image.asset.filename.to_s, title: @finish.title)

  .links
    = link_to 'Edit', edit_finish_path(@finish)
    \|
    = link_to 'Back', finishes_path