%h2
  Automagically resizing iFrame
%p
  Resize window or click 'Toggle content' to watch iFrame resize
#div{ style: "margin:20px;" }
  %iframe{ id: "sales-rep-portal", src: @page.iframe_url, seamless: true, scrolling: "no", width: "100%", frameborder: 0}

%p#callback


%script{ src: "/js/jquery.iframeResizer.min.js", type: "text/javascript" }

:javascript
  $(document).ready(function(){
    $('iframe').iFrameSizer({
      log: true,
      contentWindowBodyMargin:8,
      doHeight:true,
      doWidth:false,
      interval:32,
      enablePublicMethods:true,
      callback:function(messageData,options){
        $('p#callback').html('<b>Frame ID:</b> ' + messageData.iframe.id + ' <b>Height:</b> ' + messageData.height + ' <b>Width:</b> ' + messageData.width);
      }
    });
  });