= render "layouts/partials/side_nav", elements: @side_nav_elements

.page#list-view
  %article
    - if @products.length == 0
      No products are avaliable for your selection.
    %ul
      - @products.each do |product|
        - if defined?(product.show)
          - if product.is_a?(Product)
            = render "layouts/partials/product_list", product: product
          - else
            = render "layouts/partials/compilation_list", product: product
        - else 
          = render "layouts/partials/index_list", product: product