= render "layouts/partials/side_nav", elements: @side_nav_elements

.page#list-view
  %article
    - if @products.length == 0
      No products are avaliable for your selection.
    %ul
      - @products.each do |product|
        = render template_picker(product), product: product