= render "layouts/partials/side_nav", elements: @side_nav_elements

.page.section
  / = raw @page.content
  %article 
    %header 
      %h1 
        Modular Office

    %div{id:"page-body"} 
      %div{class:"section-container"}
        %div 
          %p 
            Our sales representatives are listed below, alphabetically by state (left to right).  
        
        %div{class:"rep-list"} 
          %ul 
            %li 
              %h1 
                Alabama
              
              %h2 
                Ron Kellgren
              
              %h3.email
                %a{href: "mailto:rkellg@aol.com"}
                  rkellg@aol.com
            
            %li 
              %h1 
                Alaska
              
              %h2 
                Jeff Reynolds
              
              %h3.email
                %a{href: "mailto:deskrep@aol.com"}
                  deskrep@aol.com
            
            %li 
              %h1 
                Arizona
              
              %h2 
                John Maggay
              
              %h3.email
                %a{href: "mailto:j.maggay@martinfurniture.com"}
                  j.maggay@martinfurniture.com
            
            %li 
              %h1 
                Arkansas
              
              %h2 
                Bob Wallace
              
              %h3.email
                %a{href: "mailto:rswinc@cox.net"}
                  rswinc@cox.net
            
            %li 
              %h1 
                California (northern)
              
              %h2 
                Kevin Vickers
              
              %h3.email
                %a{href: "mailto:kevinrvickers@yahoo.com"}
                  kevinrvickers@yahoo.com
            
            %li 
              %h1 
                California (Southern)
              
              %h2 
                Jeff Poochigian
              
              %h3.email
                %a{href: "mailto:hyepooch@aol.com"}
                  hyepooch@aol.com
            
            %li 
              %h1 
                Colorado
              
              %h2 
                John Maggay
              
              %h3.email
                %a{href: "mailto:j.maggay@martinfurniture.com"}
                  j.maggay@martinfurniture.com
            
            %li 
              %h1 
                Connecticut
              
              %h2 
                Bobby Casper
              
              %h3.email
                %a{href: "mailto:bobby@casperfurniture.com"}
                  bobby@casperfurniture.com
            
            %li 
              %h1 
                Delaware
              
              %h2 
                John Maggay
              
              %h3.email
                %a{href: "mailto:j.maggay@martinfurniture.com"}
                  j.maggay@martinfurniture.com
            
            %li 
              %h1 
                Florida
              
              %h2 
                Don McIntosh
              
              %h3.email
                %a{href: "mailto:ddmcintoshjr@comcast.net"}
                  ddmcintoshjr@comcast.net 
              %h2 
                John Tobin
              
              %h3.email
                %a{href: "mailto:jtobin4262@mindspring.com"}
                  jtobin4262@mindspring.com
            
            %li 
              %h1 
                California (northern)
              
              %h2 
                Kevin Vickers
              
              %h3.email
                %a{href: "mailto:kevinrvickers@yahoo.com"}
                  kevinrvickers@yahoo.com
            
            %li 
              %h1 
                California (Southern)
              
              %h2 
                Jeff Poochigian
              %h3.email
                %a{href: "mailto:hyepooch@aol.com"}
                  hyepooch@aol.com