%nav#breadcrumbs
  = link_to "Home", root_path
  >
  = link_to product.collection.title, collection_path(product.collection.id)
  >  
  = link_to product.skus.first.finish.title, finish_path(product.skus.first.finish.id)
  >  
  = product.title
  / - product.skus.each do |sku|
  /   %span.comma= link_to sku.title, product_sku_path(product, sku)