#admin
  %h1 Editing Sku

  = render 'form'

  .links
    = link_to 'Show', @sku, data: { confirm: 'Are you sure? Any unsaved changes will be lost.' }
    = link_to 'Back', manage_skus_path, data: { confirm: 'Are you sure? Any unsaved changes will be lost.' }
