%article#admin
  %header
    %h1 
      Editing Page:
      %span.highlight
        = @page.title
  
  = render 'form'

  %footer
    .links
      = link_to 'Show', @page, data: { confirm: 'Are you sure? Any unsaved changes will be lost.' }
      = link_to 'Back', manage_pages_path, data: { confirm: 'Are you sure? Any unsaved changes will be lost.' }