.sections
  = render template: "/quotes/show", locals: { quote: @page.random_quote } if @page.random_quote.present?
  
  .section-group
    - @page.grouped_sections.each do|section|
      = render template: "/sections/show", locals: { section: section }

  - @page.work_sections.each do|section|
    = render template: "/sections/show", locals: { section: section }