.sections
  = render template: "/quotes/show", locals: { quote: page_presenter.random_quote } if page_presenter.random_quote.present?
  
  .section-group
    - page_presenter.grouped_sections.each do|section_presenter|
      = render template: "/sections/show", locals: { section: section_presenter }

  - page_presenter.work_sections.each do|section_presenter|
    = render template: "/sections/show", locals: { section: section_presenter }