#admin
  /%p#notice= notice

  %table
    %thead
      %tr
        %th Name:
        %th Header:
    %tbody
      %tr
        %th= @page.name
        %th= @page.header

  .links
    = link_to 'Edit', edit_page_path(@page)
    \|
    = link_to 'Back', pages_path
