.page#error
  %article
    %h1 404
    %div
      %p
        We're sorry, the content that you requested could not be found.
      %p
        You tried to access <strong>'#{@not_found_path}'</strong>, which is not a valid page.