.page#error
  %article
    %h1 500
    %div
      %p
        We're sorry, an internal error has occurred. Please try again in a few minutes. If this error persists, please contact our support team at <a href="mailto:support@base10.com"> support@base10.com</a>