%nav#side
  %ul
    / - @sections = Section.find(params[:id]).children
    / - @sections.each do |section|
    /   - recursor(section)

    / - recursor(Section.find(params[:id]).parent)

    - @section = Section.find(params[:id])

    - @children = @section.get_top_level.children
    - @children.each do |child|
      = render "section_side_nav", element: child