= render "pages/templates/side_nav", elements: @side_nav_elements

.page#list-view
  %article
    - if @products.length == 0
      No products are avaliable for your selection.
    %ul
      - @products.each do |product|
        - if product.show
          - if product.is_a?(Compilation)
            = render "compilations/templates/list", product: product
          - else
            = render "products/templates/list", product: product
