$serif: "Palatino Linotype", Palatino, "Book Antiqua",​ serif; 
$sans-serif: Verdana, Geneva, sans-serif;

$grey:   #ac998a;
$mint:    rgba(216, 212, 203, 1); //#AFCBBD;
$maroon:  rgba(58, 97, 127, 1);   //#822621;