#admin {
  display: inline-block;
  width: 87.5%;

  h1 {
    color: $linkColor;
    font-size: 14px;
    margin-bottom: 5px;
  }

  h2 {
    margin: 10px 0 5px 0;
    font-size: 12px;
  }

  a {
    color: $linkColor;
    font-size: 11px;
    font-weight: bold;
  }

  #compilation-skus table {
    border-width: 0px;
  }

  table {
    border-color: $headerColor;
    border-style: solid;
    border-width: 1px 0;
    margin: 15px 0;

    thead {
      tr {
        th {
          font-size: 12px;
          padding: 5px;
          text-align: left;
          vertical-align: middle;
        }
      }
    }

    tbody {
      tr {
        td {
          font-size: 11px;
          padding: 5px;
          max-width: 200px;
          vertical-align: middle;
        }

        td span:after {
          content: ",";
        }

        td span:last-child:after {
          content: "";
        } 

        td.controls {
          a {
            @include mini-button;
          }
        }

        td img {
          border-color: #aaaaaa;
          border-style: solid;
          border-width: 1px;
        }
      }

      tr.inactive {
        background-color: #FCC;
      }

      tr:hover,
      tr.inactive:hover {
        background-color: $lightOdd;
      }
    }
  }

  .links {
    margin: 20px 0;
    
    a {
      @include mini-button;
    }
  }
}