#messages {
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  cursor: pointer;

  #flash_notice, 
  #flash_error, 
  #flash_alert {
    border-width: 1px;
    border-style: solid;
    padding: 5px 8px;
  }

  #flash_notice {
    background-color: #ccffcc;
    border-color: #66cc66;
    color: #66cc66;
  }

  #flash_error {
    background-color: #ffdc98;
    border-color: #ed9c00;
    color: #ed9c00;
  }

  #flash_alert {
    background-color: #ffcccc;
    border-color: #cc6666;
    color: #cc6666;
  }
}