$serif: "Palatino Linotype", Palatino, "Book Antiqua", serif; 
$sans-serif: Verdana, Geneva, sans-serif;

$headerColor:     rgba(154, 141, 126, 1); //#9a8d7e
$rolloverColor:   rgba(154, 141, 126, 1); //#9a8d7e
$frameColor:      rgba(216, 212, 203, 1); //#d8d4cb
$linkColor:       rgba(58, 97, 127, 1);   //#3a617f
$lightEven:       rgba(243, 242, 239, 1); //#f3f2ef
$lightOdd:        rgba(226, 231, 236, 1); //#e2e7ec
$locationInfo:    #767676;


@mixin button {
  border-color: $linkColor;
  border-style: solid;
  border-width: 1px;
  background: #829baf; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxMyUiIHN0b3AtY29sb3I9IiM4MjliYWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzU1MzZkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top,  #829baf 13%, #35536d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(13%,#829baf), color-stop(100%,#35536d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #829baf 13%,#35536d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #829baf 13%,#35536d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #829baf 13%,#35536d 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #829baf 13%,#35536d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#829baf', endColorstr='#35536d',GradientType=0 ); /* IE6-8 */
  color: #fff !important;
  padding: 6px 25px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

@mixin mini-button {
  @include button;

  display: inline-block;
  font-size: 9px !important;
  padding: 4px 8px 5px 8px;
  margin: 3px 2px;
}

@mixin admin-button {
  background-color: #fff;
  border-color: #D8D4CB;
  border-style: solid;
  border-width: 1px;
  clear: both;
  margin: 10px;
  margin-top: 17px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}