$serif: "Palatino Linotype", Palatino, "Book Antiqua",​ serif; 
$sans-serif: Verdana, Geneva, sans-serif;

$grey:    #B5B5B5;
$grey2:   #767676;
$mint:    rgba(175, 203, 189, 1); //#AFCBBD;
$maroon:  rgba(130, 38, 38, 1);   //#822621;