.gallery {
  float: left;
  margin-bottom: 20px;

  .gallery_image {
    margin-bottom: 20px;

    .image_controls {
      display: inline-block;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 8px;
      width: 49.5%;

      img,
      svg {
        margin: 0 3px -3px 1px;
      }

      a:hover {
        text-decoration: none;

        svg {
          fill: $grey;
        }
      }
    }
  }

  .control {
    float: left;
    @include rem('font-size', 60px);
    padding-top: 3%;
   
    a {
      margin-right: 10px;
    }
    
    a:hover {
      text-decoration: none;

      svg {
        path {
          fill: $grey;
          stroke: $grey;
        }
      }
    }
  }

  .control:last-child {
    margin-left: 10px;

    a {
      margin-right: 0;
      margin-left: 10px;
    }
  }

  .items_container {
    float: left;
    //max-height: 290px;
    //max-width: 377px; //877
    //overflow: hidden;
    white-space: nowrap;

    ul {
      li {
        //display: inline-block;
        margin-right: 25px;

        .product_info {
          border-color: $grey;
          border-style: solid;
          border-width: 2px 0 0 0;
          margin-top: 8px;

          hgroup {
            margin-top: 5px;

            h1,
            h2,
            h3 {
              font-family: $sans-serif;
              @include rem('font-size', 8px);
              font-weight: normal;
              margin: 5px 0 5px 0;
            }

            h1 {

            }

            h2 {
              font-weight: bold;
            }

            h3 {
              color: $grey2;
            }
          }
        }
      }
    }
  }
}


#tabs {
  margin-top: 20px;

  ul.nav-tabs {
    border-color: $mint;
    //border-bottom-width: 0px;*/
  
    li {
      //font-weight: bold;
      text-transform: uppercase;

      a {
        background: #f7faf9; // Old browsers
        // IE9 SVG, needs conditional override of 'filter' to 'none'
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZmFmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZmNiYmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #f7faf9 0%, #afcbbd 100%); // FF3.6+
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7faf9), color-stop(100%,#afcbbd)); // Chrome,Safari4+
        background: -webkit-linear-gradient(top,  #f7faf9 0%,#afcbbd 100%); // Chrome10+,Safari5.1+
        background: -o-linear-gradient(top,  #f7faf9 0%,#afcbbd 100%); // Opera 11.10+
        background: -ms-linear-gradient(top,  #f7faf9 0%,#afcbbd 100%); // IE10+
        background: linear-gradient(to bottom,  #f7faf9 0%,#afcbbd 100%); // W3C
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7faf9', endColorstr='#afcbbd',GradientType=0 ); // IE6-8
        
        border-color: $mint;
        border-radius: 0;
        border-top-width: 2px;

        @include rem('font-size', 10px);

        margin-right: 0;

        padding-top: 2px;
        padding-right: 10px;
        padding-bottom: 2px;
        padding-left: 10px;
      }

      a:hover {
        background: #fff;
        color: black;
      }
    }

    li.active a {
      color: #000;
      background: #fff;
      border-color: $mint $mint transparent;
    }

    li:first-child a {
      border-left-width: 2px;
    }

    li:last-child a {
      border-right-width: 2px;
    }
  }

  .tab-content {
    max-height: 360px;
    padding: 0 10px;

    a,
    a:link,
    a:hover,
    a:active {
      color: $maroon;
      text-decoration: underline;
    }

    #features {
      div {
        float: left;
      }

      ul {
        li {
          @include rem('font-size', 12px);
          margin-bottom: 13px;
        }
      }

      .finishes {
        margin-left: 50px;
        width: 30%;

        h1 {
          color: $grey2;
          @include rem('font-size', 12px);
          font-weight: normal;
          margin-bottom: 21px;
        }

        ul {
          li {
            display:inline-block;
            margin-right: 17px;

            img {
              border-color: #000;
              border-style: solid;
              border-width: 1px;
            }
          }
        }

        div:first-child {
          border-width: 0 0 2px 0;
          border-color: $grey;
          border-style: solid;

          margin-bottom: 33px;
        }
      }
    }

    #dimensions {
      h1 {
        @include rem('font-size', 12px);
        font-weight: normal;
        margin-bottom: 20px;

        span {
          color: $grey2;
          font-weight: bold;
          padding-right: 10px;
        }
      }

      img {
        margin-top: 15px;
      }
    }

    #style {
      p {
        @include rem('font-size', 12px);
        line-height: 15px;
      }

      div {
        margin-top: 20px;

        img {
          float: left;
          margin-bottom: 100px;
          margin-right: 20px;
        }

        p {
          color: $grey2;
          font-size: inherit;
          line-height: 14px;

          span {
            font-weight: bold;
          }
        }
      }
    }

    #videos {
      h1 {
        font-family: $serif;
        @include rem('font-size', 22px);
        margin-bottom: 10px;
      }

      p {
        @include rem('font-size', 12px);
        margin-bottom: 20px;
      }
    }
  }
}