@font-face {
  font-family: 'BoldCondensed';
  src:  asset-url('BoldCondensed/BoldCondensed.eot', font);
  src:  asset-url('BoldCondensed/BoldCondensed.eot#iefix', font)  format('embedded-opentype'),
        asset-url('BoldCondensed/BoldCondensed.woff', font)       format('woff'), 
        asset-url('BoldCondensed/BoldCondensed.ttf', font)        format('truetype'), 
        asset-url('BoldCondensed/BoldCondensed.svg', font)        format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BoldCondensedOblique';
  src:  asset-url('BoldCondensedOblique/BoldCondensedOblique.eot', font);
  src:  asset-url('BoldCondensedOblique/BoldCondensedOblique.eot#iefix', font)  format('embedded-opentype'),
        asset-url('BoldCondensedOblique/BoldCondensedOblique.woff', font)       format('woff'), 
        asset-url('BoldCondensedOblique/BoldCondensedOblique.ttf', font)        format('truetype'), 
        asset-url('BoldCondensedOblique/BoldCondensedOblique.svg', font)        format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HeavyCondensed';
  src:  asset-url('HeavyCondensed/HeavyCondensed.eot', font);
  src:  asset-url('HeavyCondensed/HeavyCondensed.eot#iefix', font)  format('embedded-opentype'),
        asset-url('HeavyCondensed/HeavyCondensed.woff', font)       format('woff'), 
        asset-url('HeavyCondensed/HeavyCondensed.ttf', font)        format('truetype'), 
        asset-url('HeavyCondensed/HeavyCondensed.svg', font)        format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HeavyCondensedOblique';
  src:  asset-url('HeavyCondensedOblique/HeavyCondensedOblique.eot', font);
  src:  asset-url('HeavyCondensedOblique/HeavyCondensedOblique.eot#iefix', font)  format('embedded-opentype'),
        asset-url('HeavyCondensedOblique/HeavyCondensedOblique.woff', font)       format('woff'), 
        asset-url('HeavyCondensedOblique/HeavyCondensedOblique.ttf', font)        format('truetype'), 
        asset-url('HeavyCondensedOblique/HeavyCondensedOblique.svg', font)        format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MediumCondensed';
  src:  asset-url('MediumCondensed/MediumCondensed.eot', font);
  src:  asset-url('MediumCondensed/MediumCondensed.eot#iefix', font)  format('embedded-opentype'),
        asset-url('MediumCondensed/MediumCondensed.woff', font)       format('woff'), 
        asset-url('MediumCondensed/MediumCondensed.ttf', font)        format('truetype'), 
        asset-url('MediumCondensed/MediumCondensed.svg', font)        format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MediumCondensedOblique';
  src:  asset-url('MediumCondensedOblique/MediumCondensedOblique.eot', font);
  src:  asset-url('MediumCondensedOblique/MediumCondensedOblique.eot#iefix', font)  format('embedded-opentype'),
        asset-url('MediumCondensedOblique/MediumCondensedOblique.woff', font)       format('woff'), 
        asset-url('MediumCondensedOblique/MediumCondensedOblique.ttf', font)        format('truetype'), 
        asset-url('MediumCondensedOblique/MediumCondensedOblique.svg', font)        format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ThinCondensed';
  src:  asset-url('ThinCondensed/ThinCondensed.eot', font);
  src:  asset-url('ThinCondensed/ThinCondensed.eot#iefix', font)  format('embedded-opentype'),
        asset-url('ThinCondensed/ThinCondensed.woff', font)       format('woff'), 
        asset-url('ThinCondensed/ThinCondensed.ttf', font)        format('truetype'), 
        asset-url('ThinCondensed/ThinCondensed.svg', font)        format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ThinCondensedOblique';
  src:  asset-url('ThinCondensedOblique/ThinCondensedOblique.eot', font);
  src:  asset-url('ThinCondensedOblique/ThinCondensedOblique.eot#iefix', font)  format('embedded-opentype'),
        asset-url('ThinCondensedOblique/ThinCondensedOblique.woff', font)       format('woff'), 
        asset-url('ThinCondensedOblique/ThinCondensedOblique.ttf', font)        format('truetype'), 
        asset-url('ThinCondensedOblique/ThinCondensedOblique.svg', font)        format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UltraLightCondensed';
  src:  asset-url('UltraLightCondensed/UltraLightCondensed.eot', font);
  src:  asset-url('UltraLightCondensed/UltraLightCondensed.eot#iefix', font)  format('embedded-opentype'),
        asset-url('UltraLightCondensed/UltraLightCondensed.woff', font)       format('woff'), 
        asset-url('UltraLightCondensed/UltraLightCondensed.ttf', font)        format('truetype'), 
        asset-url('UltraLightCondensed/UltraLightCondensed.svg', font)        format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UltraLightCondensedOblique';
  src:  asset-url('UltraLightCondensedOblique/UltraLightCondensedOblique.eot', font);
  src:  asset-url('UltraLightCondensedOblique/UltraLightCondensedOblique.eot#iefix', font)  format('embedded-opentype'),
        asset-url('UltraLightCondensedOblique/UltraLightCondensedOblique.woff', font)       format('woff'), 
        asset-url('UltraLightCondensedOblique/UltraLightCondensedOblique.ttf', font)        format('truetype'), 
        asset-url('UltraLightCondensedOblique/UltraLightCondensedOblique.svg', font)        format('svg');
  font-weight: normal;
  font-style: normal;
}