form {
  div {
    //margin: 10px;
  }

  .actions {
    text-align: right;
    width: 287px;
  }

  label {
    float: left;
    font-weight: bold;
    margin-right: 8px;
    margin-top: 5px;
    text-align: right;
    width: 75px;
  }

  input[type=text] {
    
  }

  fieldset {
    border-color: #D8D4CB;
    border-style: solid;
    border-width: 2px;
    margin: 50px;
    padding: 10px 5px 5px 5px;

    legend {
      border-color: #D8D4CB;
      border-style: solid;
      border-width: 2px 2px 0 2px;
      font-size: 10px;
      font-weight: bold;
      margin-left: -7px;
      margin-top: -23px;
      padding: 7px 11px;
      text-transform: uppercase;
    }
  }

  .image-field-group *,
  .subcomponent-field-group *, {
    /*float: left;
    clear: none;*/
    display: inline-block;

    i {
      margin-top: 13px;
    }
  }

  .inline {
    .field {
      display: inline-block;
      float: left;
      clear: none;
    }
  }

  .field,
  .search-field {
    margin: 10px;
  }

  .field {
    clear: both;

    h1 {
      color: #000 !important;
    }
  }
  
  .remove-fields,
  .add-fields {
    display: none;
  }

  .removable {
    .remove-fields {
      display: inline;

      a:hover {
        text-decoration: none;
      }
    }
  }

  #dimensions {
    .dimension-values {
      .field {
        display: inline-block;
        float: left;
        clear: none;
        margin-right: 3px;

        input[type=text] {
          margin-right: 2px;
          text-align: center;
          width: 25px;
        }
      }
    }
  }

  #skus {

  }

  .images {
    clear: both;
  }

  .addable {
    background-color: #fff;
    border-color: #D8D4CB;
    border-style: solid;
    border-width: 1px;
    clear: both;
    margin: 10px;
    padding: 5px;
    text-align: center;

    .add-fields {
      display: inline;
    }
  }

  .addable:hover {
    background-color: $linkColor;

    a {
      color: #fff !important;
    }
  }

  .column {
    float: left;

    .column-group {
      margin: 10px 10px 25px 10px;

      .checkbox {
        margin: 8px;

        label {
          float: right;
          font-weight: normal;
          margin-top: 5px;
          text-align: left;
          white-space: nowrap;
          width: 110px;
        }
      }
    }
  }

  .nested {
    margin: 0 20px;
  }

  .nested > div {
    padding: 10px;
  }

  .nested > div:nth-child(even) {
    background: #f3f2ef
  }

  .nested > div:nth-child(odd) {
    background: #e2e7ec
  }
}