.hidden {
  display: none;
}

.clear {
  clear: both;
}

.separator {
  background-color: $mint;
  height: 1px;
}

.vertical_separator {
  background-color: $mint;
  width: 1px;
}

.maroon {
  color: $maroon !important;
}

.grey {
  color: $grey !important;
}

.grey2 {
  color: $grey2 !important;
}

.serif {
  font-family: $serif !important;
}

.right {
  float: right;
}


html { 
  /*
  background: asset-url('background.jpg', image) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */

  font-family: $serif;
  font-size: 62.5%;
}

body {
  font-family: $sans-serif;
}

a:link,
a:visited {
  color: inherit;
}

a:hover,
a:active,
a.active {
  color: $grey;
  text-decoration: underline;
}

strong {}
b {}
em {}
i {}

#container {
  margin: auto;
  @include rem('width', 940px);
}

header.document {
  border-bottom: 1px solid $mint;
  @include rem('margin-bottom', 20px);
  @include rem('width', 940px);
  @include rem('height', 140px);
  
  #search {
    background-color: $mint;
    @include rem('height', 40px);

    form {
      div {
        margin: 0;
      }

      input {
        border-color: #69877A;
        border-style: solid;
        border-width: 1px;
        @include rem('border-radius', 15px);
        @include rem('-moz-border-radius', 15px);
        @include rem('-webkit-border-radius', 15px);
        color: #69877A;
        @include rem('width', 180px);
        @include rem('height', 16px);
        float: right;
        @include rem('font-size', 9px);
        @include rem('margin', 9px);
        @include rem('padding', 2px 40px 2px 9px);
      }
    }
  }

  #logo {
    float: left;
    @include rem('margin-top', 29px);
  }

  nav#main {
    border: none;
    float: right;
    @include rem('margin', 62px 0 0 0);
    

    ul {

      li:hover .subnav {
        display: inline-block;
      }

      li#prodcuts .subnav     { @include rem('margin-left', -210px) }
      li#collections .subnav  { @include rem('margin-left', -242px) }
      li#styles .subnav       { @include rem('margin-left', -53px) }
      li#KIHome:hover { 
        border-bottom: 5px solid $mint;
        padding-bottom: 13px !important;
      }
      
      li {
        color: $maroon;
        float: left;
        font-family: $serif;
        @include rem('font-size', 14px);
        font-weight: bold;
        @include rem('margin-left', 3px);
        @include rem('padding', 5px 0);
        text-align: right;

        a:link,
        a:hover,
        a:visited,
        a:active {
          color: $maroon;
          text-decoration: none;
        }


        .subnav {
          display: none;
          position: absolute;
          @include rem('padding-top', 10px);
          @include rem('top', 124px);
          z-index: 999;

          .column_group {       
            background-color: #fff;     
            border-color: $mint;
            border-style: solid;
            border-width: 5px 1px 1px 1px;
            display: inline-block;
            @include rem('padding', 15px);
            @include rem('padding-top', 2px);
            
            .column {
              text-align: lefë;
              float: left;
              @include rem('margin-right', 35px);

              h1 {
                color: $grey2;
                @include rem('font-size', 14px);
                @include rem('margin-bottom', 8px);
              }

              ul {
                @include rem('margin-bottom', 23px);

                li {
                  float: none;
                  font-family: $sans-serif;
                  @include rem('font-size', 11px);
                  font-weight: normal;
                  margin-left: 0;
                  text-align: left;
                  
                  a:link,
                  a:active,
                  a:visited {
                    color: $grey2;
                  }

                  a:hover {
                    color: $maroon;
                    text-decoration: underline;
                  }
                }
              }
            }

            .column:last-child {
              @include rem('margin-right', 20px);
            }
          }
        }
      }
    }
  }
}

nav#side {
  float: left;
  width: 15%;

  ul {
    li {
      color: $grey2;
      font-family: $serif;
      @include rem('font-size', 14px);
      font-weight: bold;
      @include rem('margin-bottom', 15px);

      a:link,
      a:visited,
      a:active,
      a:hover {
        color: $grey;
      }

      a:hover {
        text-decoration: none;
      }

      ul {
        @include rem('margin', 15px 0 0 10px);

        li {
          color: #000;
          font-family: $sans-serif;
          @include rem('font-size', 12px);
          font-weight: normal;
          @include rem('margin-bottom', 10px);

          a:link,
          a:visited,
          a:active,
          a:hover {
            color: #000;
          }

          a:hover {
            font-weight: bold;
            text-decoration: none;
          }
        }
      }
    }
  }
}

#content {
  margin: auto;
  display: inline-block;

  header {
    p {
      @include rem('font-size', 12px);
      @include rem('line-height', 16px);
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
      @include rem('margin-top', 10px);
    }
  }
}

footer.document {
  border-top: 1px solid $mint;
  border-bottom: 20px solid $mint;
  @include rem('width', 940px);
  @include rem('height', 170px);
  @include rem('margin-top', 20px);
  @include rem('margin-right', 20px);
  @include rem('padding-bottom', 10px);
  clear: both;
 
  nav {
    float: left;
    @include rem('margin', 24px 0);
    min-width: 16.7%;

    h1 {
      color: $grey2;
      font-family: $serif;
      @include rem('font-size', 12px);
      @include rem('margin-bottom', 12px);
    }

    ul {
      li {
        @include rem('padding', 3px 0);
        @include rem('margin-bottom', 1px);

        a:link,
        a:visited,
        a:active {
          color: $maroon;
        }

        a:hover {
          color: $grey;
        }

        img {
          @include rem('margin-right', 13px);
        }
      }

      li:last-child img {
        margin-right: 0;
      }
    }
  }

  nav#stayConnected {
    li {
      float: left;
    }
  }

  nav:last-child {
    min-width: inherit;
  }

  small {
    color: $grey2;
    @include rem('font-size', 9px);
    @include rem('line-height', 15px);
  }
}