$serif: "Palatino Linotype", Palatino, "Book Antiqua",​ serif; 
$sans-serif: Verdana, Geneva, sans-serif;

$grey:    #B5B5B5;
$grey2:   #767676;
$mint:    #AFCBBD;
$maroon:  #822621;

.hidden {
  display: none;
}

.clear {
  clear: both;
}

.separator {
  background-color: $mint;
  height: 1px;
}

.vertical_separator {
  background-color: $mint;
  width: 1px;
}

.maroon {
  color: $maroon !important;
}

.grey {
  color: $grey !important;
}

.grey2 {
  color: $grey2 !important;
}

.serif {
  font-family: $serif !important;
}

.right {
  float: right;
}


html { 
  /*
  background: asset-url('background.jpg', image) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */

  font-family: $serif;
  font-size: 62.5%;
}

body {
  font-family: $sans-serif;
}

a:link,
a:visited {

}

a:hover,
a:active,
a.active {
  color: $grey;
  text-decoration: underline;
}

strong {}
b {}
em {}
i {}

#container {
  margin: auto;
  width: 94rem
}

header {
  border-bottom: 1px solid $mint;
  margin-bottom: 2rem;
  width: 94rem;
  height: 14rem;
  
  #search {
    background-color: $mint;
    height: 4rem;
  }

  #logo {
    float: left;
    margin-top: 2.9rem;
  }

  nav {
    border: none;
    float: right;
    margin: 6.2rem 0 0 0;
    

    ul {

      li:hover .subnav {
        display: inline-block;
      }
      
      li {
        color: $maroon;
        float: left;
        font-family: $serif;
        font-size: 1.4rem;
        font-weight: bold;
        margin-left: 3rem;
        padding: .5rem 0;
        text-align: right;

        a:link,
        a:hover,
        a:visited,
        a:active {
          color: $maroon;
          text-decoration: none;
        }


        .subnav {
          display: none;
          position: absolute;
          padding-top: 1rem;
          margin-left: -21rem;
          top: 12.3rem;
          z-index: 999;

          .column_group {       
            background-color: #fff;     
            border-color: $mint;
            border-style: solid;
            border-width: 5px 1px 1px 1px;
            display: inline-block;
            padding: 1.5rem;
            padding-top: 2rem;
            
            .column {
              text-align: left;
              float: left;
              margin-right: 3.5rem;

              h4 {
                color: $grey2;
                font-size: 1.4rem;
                margin-bottom: .8rem;
              }

              ul {
                margin-bottom: 2.3rem;

                li {
                  float: none;
                  font-family: $sans-serif;
                  font-size: 1.1rem;
                  font-weight: normal;
                  margin-left: 0;
                  text-align: left;
                  
                  a:link,
                  a:active,
                  a:visited {
                    color: $grey2;
                  }

                  a:hover {
                    color: $maroon;
                    text-decoration: underline;
                  }
                }
              }
            }

            .column:last-child {
              margin-right: 2rem;
            }
          }
        }

        .subnav#collection_sub_nav {
          height: 2rem;
          .column_group {
            height: 2rem;
            display: block;
            .column {
              float: none;
              max-height: 2rem;

              ul {
                max-height: 2rem;
                li {
                  float: none;
                }
              }
            }
          }  
        }

        /*.subnav #collection_sub_nav {
          .column_group {
            .column {
              ul {
                li {

                }
              }
            }
          }  
        }*/
      }
    }
  }
}

#content {
  margin: auto;

  header {
    p {
      font-size: 1.2rem;
      line-height: 1.6rem;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
      margin-top: 1rem;
    }
  }
}

footer {
  border-top: 1px solid $mint;
  border-bottom: 2rem solid $mint;
  width: 94rem;
  height: 17rem;
  margin-top: 2rem;
  margin-right: 2rem;
  padding-bottom: 1rem;
  clear: both;
 
  nav {
    float: left;
    margin: 2.4rem 0;
    min-width: 16.7%;

    h1 {
      color: $grey2;
      font-family: $serif;
      font-size: 1.2rem;
      margin-bottom: 1.2rem;
    }

    ul {
      li {
        padding: .3rem 0;
        margin-bottom: .1rem;

        a:link,
        a:visited,
        a:active {
          color: $maroon;
        }

        a:hover {
          color: $grey;
        }

        img {
          margin-right: 1.3rem;
        }
      }

      li:last-child img {
        margin-right: 0rem;
      }
    }
  }

  nav#stayConnected {
    li {
      float: left;
    }
  }

  nav:last-child {
    min-width: inherit;
  }

  small {
    color: $grey2;
    font-size: .9rem;
    line-height: 1.5rem;
  }
}