// Fonts
$defaultFontSize:           12px;

/* Site Colors */
$bodyTextColor:             #58595b; //Grey
$transparent:               rgba(0, 0, 0, 0); // Black

$textLink:                  #589338; //Dark Green
$textLinkRollover:          #6d6e71; //Grey

$headerColor:               #f15a29; //Orange *

$footerLink:                #ffffff; //White
$footerLinkRollover:        #f15a29; //Orange
$footerBackground:          #2B3990; //Dark Blue *
$footerTextColor:           #ffffff; //White *
$footerIconColor:           #f15a29; //Orange *
$footerIconRollOver:        #589338; //Dark Green *
$copywrightColor:           #d1d3d4; //Greyish *

$quoteBackground:           #589338; //Dark Green

$paragraphLink:             #589338; //Dark Green
$contentParagraphLink:      #f15a29; //Orange

$navLink:                   #6d6e71; //Grey
$navLinkRollover:           #f15a29; //Orange

$subNavLink:                #1b75bc; //Blue
$subNavLinkRollover:        #6d6e71; //Grey


$lightEven:                 rgba(241, 90, 41, .1); //   #feeee9 || 10%  #f15a29 - Orange
$lightOdd:                  rgba(27, 117, 188, .1); //  #e8f1f8 || 10%  #1b75bc - Blue
//$lightOdd:                rgba(88, 147, 56, .1); //   #eef4eb || 10%  #589338 - Green

$tableBorderColor:          rgba(241, 90, 41, .1); //   #feeee9 || 10%  #f15a29 - Orange


$subHeaderColor:            #589338; //Dark Green
$contentHeaderColor:        #589338; //Dark Green
$headerSpanColor:           #1b75bc; //Blue
$CTABackground:             #1b75bc; //Blue

$separatorColor:            #d8d8d8; //Yellow-Grey

$listLinkBackground:        #F7941D; //Light Orange
$leadFormBackground:        #2B3990; //Dark Blue

//Gallery
$galleryH1Color:            #f15a29; //Orange *
$galleryH2Color:            #58595b; //Grey *
$galleryH3Color:            #58595b; //Grey *

//Tabs
$tabBackground:             #f15a29; //Orange *
$tabRolloverBackground:     #2B3990; //Dark Blue *
$tabLinkColor:              #ffffff; //White *

$adminLinkColor:            #f15a29; //Orange *
$adminLinkRolloverColor:    #1b75bc; //Blue *
$adminNavBackground:        #1b75bc; //Blue
$adminNavLinkRolloverColor: #ffffff; //White

//Table
$tdFirstChildColor:         #2B3990; //Dark Blue *

$contactIconColor:          #A7A9AC; //Med Grey

$formPointerBackground:     #589338; //Dark Green
$formHolderBackground:      #8dc63f; //Light Green


/* Font Controls */
$BoldCondensed:              'BoldCondensed',              'Geneva',  sans-serif !important;
$BoldCondensedOblique:       'BoldCondensedOblique',                 'Geneva',  sans-serif !important;
$HeavyCondensed:             'HeavyCondensed',               'Geneva',  sans-serif !important;
$HeavyCondensedOblique:      'HeavyCondensedOblique',           'Geneva',  sans-serif !important;
$MediumCondensed:            'MediumCondensed',              'Geneva',  sans-serif !important;
$MediumCondensedOblique:     'MediumCondensedOblique',                 'Geneva',  sans-serif !important;
$ThinCondensed:              'ThinCondensed',               'Geneva',  sans-serif !important;
$ThinCondensedOblique:       'ThinCondensedOblique',           'Geneva',  sans-serif !important;
$UltraLightCondensed:        'UltraLightCondensed',               'Geneva',  sans-serif !important;
$UltraLightCondensedOblique: 'UltraLightCondensedOblique',           'Geneva',  sans-serif !important;

$sans-serif:                 'Verdana',                     'Geneva',  sans-serif !important;
$serif:                      "Palatino Linotype",            Palatino, "Book Antiqua", serif; 

$gradient-top:        #F7941D; // Light Orange
$gradient-bottom:     #F15A29; // Orange
/* Images */


@mixin border {
  border-color: red;
  border-style: solid;
  border-width: 1px;
}

@mixin hint {
  background-color: #fff;
  border-color: #6d6e71;
  border-style: solid;
  border-width: 1px;
  padding: 1px;
}

/* ---BUTTONS--- */

// Layout Buttons
@mixin button {
  background-color: $headerColor;
  border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $ThinCondensed;
  font-size: 21px;
  font-weight: normal;
  margin: 3px 2px 3px 0;

  a:link, a:visited {
    color: #fff;
    padding: 8px 8px 6px 8px;
  }

  a:hover {
    color: #fff !important;
    text-decoration: none;
  }
}

@mixin big-button {
  @include button;

  background-color: #2b3990;
  border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
  font-family: $yanoneKaffeesatzLight;
  font-size: 16px;
  //max-width: 220px;
  text-align: left;
  text-transform: uppercase;


  a {
    span {
      color: #8dc63f;
    }
  }
}

@mixin mini-button {
  @include button;

  font-size: 12px !important;
  margin: 3px 2px;

  a:link, a:visited {
    padding: 5px 5px 4px 5px;
  }
}

// Admin Buttons
@mixin admin-button {
  border-color: $gradient-top !important;
  border-style: solid !important;
  border-width: 1px !important;

  background: $lightEven; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QzZGZkMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzYwMTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  $gradient-top 0%, $gradient-bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $gradient-top), color-stop(100%, $gradient-bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $gradient-top 0%, $gradient-bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $gradient-top 0%, $gradient-bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $gradient-top 0%, $gradient-bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $gradient-top 0%, $gradient-bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient-top', endColorstr='$gradient-bottom',GradientType=0 ); /* IE6-8 */

  border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  color: #fff !important;
  cursor: pointer;
  font-family: $sans-serif;
  font-weight: bold;
  line-height: 12px;
  padding: 9px 25px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;

  a {
    color: #fff !important;
    text-decoration: none !important;
  }

  &:hover {
    text-decoration: none;
  }
}

@mixin mini-admin-button {
  @include admin-button;
  display: inline-block;
  font-size: 9px !important;
  padding: 4px 8px 5px 8px;
  margin: 3px 2px;
}

@mixin admin-submit-button {
  background-color: #fff;
  border-color: $tableBorderColor;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  clear: both;
  color: $gradient-top;
  font-family: $sans-serif;
  font-size: 11px;
  margin: 10px;
  margin-top: 17px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}