// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

article {
  header {
    border-width: 0;
  }
}

.page {
  float: left;

  #page-body {
    p {
      margin-bottom: 11px;
    }
  }

}

.page#text {
  width: 58%;
}

.page#collections {
  width: 85%;
  margin-right: -20px;
}

.page#product {
  width: 100%;
}

#home {
  aside {
    margin-top: 20px;

    ul {
      display: inline-block;

      li {
        float: left;
        margin-right: 20px;
      }

      li:last-child {
        margin-right: 0;
      }
    }
  }
}

#text {
  header {
    margin-bottom: 22px;

    h1 {
      color: $linkColor;
      font-family: $serif;
      @include rem('font-size', 40px);
    }
  }

  p {
    @include rem('font-size', 11px);
    line-height: 13px;
  }
}

#product {

  #product-views {
    .items-container {
      width: 386px;
    }
  }

  #related-products {
    .items-container {
      width: 868px;
    }
  }

  #product-details {
    float: left;
    width: 48%;
    margin-left: 20px;

    hgroup {
      h1,
      h2,
      h3 {
        color: inherit;
        font-family: $sans-serif;
        font-weight: inherit;
        margin-top: 7px;
      }

      h1 {
        @include rem('font-size', 11px);
      }

      h2 {
        @include rem('font-size', 20px);
        font-family: $serif;
        font-weight: bold;
      }

      h3 {
        color: $headerColor;
        @include rem('font-size', 14px);
        margin-top: 12px;
      }
    }

    #icons {
      float: right;
      margin-top: -27px;

      img {
        margin-left: 15px;
      }
    }
  }

  footer {
    border-color: $frameColor;
    border-style: solid;
    border-width: 1px 0 0 0;
    clear: both;

    h1#rubric {
      color: $headerColor;
      font-family: $serif;
      @include rem('font-size', 14px);
      font-weight: normal;
      margin: 10px 0 20px 0;
    }
  }
}

#collections {
  ul {
    li {
      float: left;
      margin-bottom: 30px;
      margin-right: 15px;

      div.collection-image {
        img {}

        border-color: $headerColor;
        border-style: solid;
        border-width: 0 0 1px 0;
        padding: 10px 5px;
        margin-bottom: 10px;
      }

      div.collection-info {
        @include rem('font-size', 12px);

        h1,
        h2,
        h3 {
          font-weight: normal;
          margin-bottom: 8px;        
        }

        h2 {
          font-weight: bold;
        }

        h3 {
          color: $headerColor;
          display: inline-block;
          font-size: 10px;
        }

        ul {
          display: inline-block;

          li {
            color: $headerColor;
            font-size: 10px;
            margin-bottom: 0;
            margin-right: 0;
          }

          /*Using :before because inline-block adds 
          trailing space to li's. Can't put them on 
          the same line becuase I'm using HAML. 
          There may be a way to do this, I just 
          haven't looked.*/
          li:before {
            content: ","
          }

          li:first-child:before {
            content: none;
          }
        }
      }
    }

    li:nth-child(3n) {
      margin-right: 0;
    }
  }
}