// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$S: "Palatino Linotype", Palatino, "Book Antiqua",​ serif; 
$SS: Verdana, Geneva, sans-serif;

$G:    #B5B5B5;
$G2:   #767676;
$M:    #AFCBBD;
$MR:  #822621;

.page {
  float: left;
  width: 58%;
  margin-left: 2rem;

  header {
    margin-bottom: 2.2rem;
    h1 {
      color: $MR;
      font-family: $S;
      font-size: 4rem;
    }
  }

  p {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }
}

article {
  header {
    border-width: 0;
  }
}

#home {
  aside {
    margin-top: 2rem;

    ul {
      display: inline-block;

      li {
        float: left;
        margin-right: 2rem;
      }

      li:last-child {
        margin-right: 0rem;
      }
    }
  }
}

#carousel {

  .item {
    position: relative;

    img {
    }

    #info {
      background-color: rgba(255,255,255, .95);
      border-radius: 1rem;
      -webkit-box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, .75);
      box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, .75); 
      font-size: 1.6rem;
      padding: 1rem 1rem 2rem 1rem;
      position: absolute; 
      left: 8rem; 
      top: 3.4rem; 

      h1 {
        font-size: 4.4rem;
        font-weight: normal;
        margin-top: .8rem;
        margin-bottom: .5rem;
        text-align: center;
      }

      p {
        line-height: 3rem;
        margin-bottom: 1.3rem;
      }

      a:link,
      a:visited {
        color: #000;
      }
    }
  }
}