#pinterest,
#twitter,
#youtube,
#share,
#print {
 path,
 rect,
 polygon, {
    fill: $linkColor;
  }
}

a:hover #pinterest,
a:hover #twitter,
a:hover #youtube,
a:hover #share,
a:hover #print {
  path,
  rect,
  polygon, {
    fill: $rolloverColor;
  }
}