#admin
  %h1 Editing Brand

  = render 'form'

  .links
    = link_to 'Show', @brand, data: { confirm: 'Are you sure? Any unsaved changes will be lost.' }
    = link_to 'Back', admin_brands_path, data: { confirm: 'Are you sure? Any unsaved changes will be lost.' }
