-@sections = Collection.all

%nav#side
  %ul
    -@sections.each do |section|
      %li
        = link_to section.title, section
        %ul
          -section.components.each do |page|
            %li
              = link_to page.title, page