#admin
  %h1 Editing product

  = render 'form'

  .links
    = link_to 'Show', @product, data: { confirm: 'Are you sure? Any unsaved changes will be lost.' }
    = link_to 'Back', manage_products_path, data: { confirm: 'Are you sure? Any unsaved changes will be lost.' }
