%header
  #logo
  %nav
    %ul
      - main_navigation.each do|section|
        - unless section.slug === "tools"
          %li
            - if section.link.present?
              = link_to section.name, section.link.uri, target: section.link.target
            - else
              = link_to section.name, "##{section.slug}"