%meta{property: "og:title", content: "eric norcross ~ full-stack developer"}
%meta{property: "og:url", content: "http://www.base10creations.com"}
%meta{property: "og:description", content: "full-stack developer with over ten years of professional experience. detail orientated, end-user focused, and a passion for solving complex problems. experienced in system architecture, UX design, ad trafficking, as well as a background in both healthcare and consumer advertising"}
%meta{property: "og:image", content: "http://res.cloudinary.com/hkowwlpd3/image/upload/v1494469006/logo_lemdix.svg"}
/ %meta{property: "fb:app_id", content: ""}
