= form_tag locations_path, :method => :get do 
  .search-field
    = search_field_tag id, "", {placeholder: "Find a retailer near you", class: "clear-input"}
    %div.magnify
      = render '/layouts/svg/search'