%li
  - if defined?(element.parent_id) && element.parent_id == 0
    = element.title
  - elsif element.has_attribute?("link") && element.link != nil && element.link != ""
    = link_to element.title, element.link
  - else
    = link_to element.title, element

  - if defined?(element.children) && !element.children.blank?
    %ul
      - element.children.each do |child|
        = render "layouts/partials/side_nav_elements", element: child