.project-image {
  /* This replicates the original standard sprite dimensions, and assumes the actual dimensions of sprite@3x.jpg are 900x900px */
  background-size: 298px 298px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1),(min-resolution: 96dpi) {
  #martinfurniture .project-image { background-image: asset-url("assets/martinfurniture_@1x.jpg"); }
  #skope .project-image { background-image: asset-url("assets/skope_@1x.jpg"); }
  #interiahospitality .project-image { background-image: asset-url("assets/interiahospitality_@1x.jpg"); }
  #colinparent .project-image { background-image: asset-url("assets/colinparent_@1x.jpg"); }
  #freshandhealthy .project-image { background-image: asset-url("assets/freshandhealthy_@1x.jpg"); }
  #physicianfinder .project-image { background-image: asset-url("assets/physicianfinder_@1x.png"); }

  // Banners
  #franklin_templeton .project-image { background-image: asset-url("assets/franklin_templeton_ad_@1x.png"); }
  #emirates .project-image { background-image: asset-url("assets/emirates_ad_@1x.png"); }
  #hp .project-image { background-image: asset-url("assets/hp_ad_@1x.png"); }
  #visa .project-image { background-image: asset-url("assets/visa_ad_@1x.png"); }
  #xyrem .project-image { background-image: asset-url("assets/xyrem_ad_@1x.png"); }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
  #martinfurniture .project-image { background-image: asset-url("assets/martinfurniture_@2x.jpg"); }
  #skope .project-image { background-image: asset-url("assets/skope_@2x.jpg"); }
  #interiahospitality .project-image { background-image: asset-url("assets/interiahospitality_@2x.jpg"); }
  #colinparent .project-image { background-image: asset-url("assets/colinparent_@2x.jpg"); }
  #freshandhealthy .project-image { background-image: asset-url("assets/freshandhealthy_@2x.jpg"); }
  #physicianfinder .project-image { background-image: asset-url("assets/physicianfinder_@2x.png"); }

  // Banners
  #franklin_templeton .project-image { background-image: asset-url("assets/franklin_templeton_ad_@2x.png"); }
  #emirates .project-image { background-image: asset-url("assets/emirates_ad_@1x.png"); }
  #hp .project-image { background-image: asset-url("assets/hp_ad_@2x.png"); }
  #visa .project-image { background-image: asset-url("assets/visa_ad_@2x.png"); }
  #xyrem .project-image { background-image: asset-url("assets/xyrem_ad_@2x.png"); }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3),(min-resolution: 288dpi) {
  #martinfurniture .project-image { background-image: asset-url("assets/martinfurniture_@3x.jpg"); }
  #skope .project-image { background-image: asset-url("assets/skope_@3x.jpg"); }
  #interiahospitality .project-image { background-image: asset-url("assets/interiahospitality_@3x.jpg"); }
  #colinparent .project-image { background-image: asset-url("assets/colinparent_@3x.jpg"); }
  #freshandhealthy .project-image { background-image: asset-url("assets/freshandhealthy_@3x.jpg"); }
  #physicianfinder .project-image { background-image: asset-url("assets/physicianfinder_@3x.png"); }

  // Banners
  #franklin_templeton .project-image { background-image: asset-url("assets/franklin_templeton_ad_@3x.png"); }
  #emirates .project-image { background-image: asset-url("assets/emirates_ad_@3x.png"); }
  #hp .project-image { background-image: asset-url("assets/hp_ad_@3x.png"); }
  #visa .project-image { background-image: asset-url("assets/visa_ad_@3x.png"); }
  #xyrem .project-image { background-image: asset-url("assets/xyrem_ad_@3x.png"); }
}