// Style Guide Mixins
@import '../mixins/style_guide.scss';

html { font-size: 62.5%; }  /* 10px || 1rem */

body, header, footer, main, nav, article, section, div, a,
form, fieldset, legend, label, button,
h1, h2, h3, h4, h5, h6,
ol, ul, li {
  @extend %flexbox;
}

body {
  @include flex-direction(column);
  @include align-items(center);

  color: $bodyColor;
  font-family: $bodyFontFamily;
  font-size: $bodyFontSize;
  font-weight: $bodyFontWeight;
  line-height: $bodyFontSize; // Baseline reset

  /* Helps with the way fonts are displayed */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  header, footer, main, nav, article, section, div, a, span,
  form, fieldset, legend, input, textarea, button,
  h1, h2, h3, h4, h5, h6, p,
  li {
    border-color: $dark;
    border-style: solid;
    border-width: 0;

    font-weight: normal;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    /* Helps with the way fonts are displayed */
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  p {
    line-height: rem(22);
    margin-bottom: rem(20);

    a {
      display: inline-block;
    }
  }

  a, a:link, a:visited, a:active {
    color: $bodyColor;
    text-decoration: underline;

    &:hover {
      // font-family: $LightCondensedOblique;
      font-style: italic;
    }
  }

  a.null-link, a.null-link:link, a.null-link:visited, a.null-link:active {
    cursor: default;
  }

  a:before,
  a:after {
    font-family: FontAwesome;
  }
}

.separator {
  border-color: $medium;
  border-style: dashed;
  border-width: 0 0 1px 0;
  height: 1px;

  margin-bottom: rem(60);
}

#content {
  @include flex-direction(column);

  width: 100%;
  max-width: $siteMaxWidth;
  padding: rem(60);

  > header {
    @include flex(1 0 auto);
    @include align-items(flex-start);
    @include justify-content(space-between);
    // min-height: rem(50);

    margin-bottom: rem(60);

    nav {
      @include align-self(flex-end);

      ul {
        @include justify-content(flex-end);

        li {
          font-family: $BoldCondensed;
          font-size: rem(16);
          margin: 0 rem(10);

          a {
            text-decoration: none;

            &:hover {
              font-style: inherit;
              text-decoration: underline;
            }
          }
        }

        li:last-of-type {
          margin-right: 0;
        }

        li:before {
          content: "/";
        }
      }
    }
  }

  main {
    @include flex-direction(column);
    
    .sections {
      @include flex-direction(column);
    }

    blockquote {
      padding: 0 4%;
      margin-bottom: rem(60);

      p, footer cite {
        color: $medium;
        font-family: $UltraLightCondensedOblique;
        font-size: rem(32);
        font-style: normal;
        line-height: rem(46);
        text-align: center;
      }

      footer {
        @include justify-content(center);

        cite:before {
          content: "~";
        }
      }
    }

    section {
      @include flex-direction(column);
      margin-bottom: rem(60);

      > header {
        border-width: 0 0 rem(1) 0;
        font-family: $BoldCondensed;
        padding-bottom: rem(10);
        margin-bottom: rem(20);
        
        h1 {
          font-size: rem(21);
        }

        h1:before {
          content: "/";
        }
      }

      span.note {
        font-family: $MediumCondensedOblique;
      }

      .content-block, .project-block {
        
      }

      section .content-block:first-of-type, 
      section .project-block:first-of-type {

      }

      .content-block {
        @include flex-direction(column);

        margin-bottom: rem(20);

        h2 {
          font-family: $MediumCondensedOblique;
          font-size: rem(16);
          margin-bottom: rem(10);
        }

        p {
          margin: 0 0 0 rem(20);
        }
      }

      .content-block:last-of-type {
        margin-bottom: 0;
      }

      .project-block {
        margin-bottom: rem(60);

        .project-image {
          @include flex(1 0 300px);

          border-width: rem(1);
          border-color: $semiLight;

          // box-sizing: content-box;

          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;

          width: rem(300);
          height: rem(300);

          margin: 0 rem(20) 0 0;

        }

        .project-info {
          @include flex-direction(column);

          .project-title, .project-tech, .project-features {
            margin-bottom: rem(15);
          }

          .project-title {
            font-family: $MediumCondensed;
            font-size: rem(18);
            line-height: rem(21);

            a {
              // text-decoration: none;

              &:hover {
                // font-family: inherit;
                // text-decoration: underline;
              }
            }
          }

          > h3 {
            display: none;
          }

          h3 {
            font-family: $MediumCondensed;
            font-size: rem(14);

            margin-bottom: rem(5);
          }

          p {
            margin-bottom: rem(15);
          }

          .project-tech, .project-features {
            @include flex-direction(column);

            ul {
              @include flex-wrap(wrap);

              margin-left: rem(5);
              width: 80%;

              li {
                @include flex-wrap(nowrap);

                font-size: rem(14);
                line-height: rem(18);
                margin-right: rem(3);
              }

              li:after {
                content: ",";
              }

              li:last-of-type:after {
                content: none;
              }
            }
          }
        }
      }

      .project-block:last-of-type {
        margin-bottom: 0;
      }

      .project-block:nth-of-type(even) {
        @include flex-direction(row-reverse);

        .project-image {
          margin: 0 0 0 rem(20);
        }
      }
    }

    .section-group {
      @include flex-direction(row);
      @include justify-content(space-between);

      section {
        width: calc(50% - 20px);
      }
    }

    section#contact {
      .content-block {
        p {
          @include flex-direction(column);

          margin-bottom: rem(10);

          a {
            @extend %flexbox;
          }

          span {
            @extend %flexbox;
          }

          span:after {
            margin-left: rem(3);
            content: "~ "attr(data-type);
          }
        }

        p:first-of-type {
          margin-top: rem(0);
        }
      }
    }
  }
}