body {
  font-family: $ThinCondensed;
  font-size: 16px;
}

a {
  color: #333;
}

a:link:hover {
  text-decoration: underline;
}

.phone {
  font-size: 15px;
}

.MediumCondensedOblique {
  font-family: $MediumCondensedOblique;
}

.MediumCondensed {
  font-family: $MediumCondensed;
}

.ThinCondensedOblique {
  font-family: $ThinCondensedOblique;
}

#container {
  margin: auto;
  width: 713px;

  > header {
    padding-top: 20px;
  }

  nav {
    float: right;
    margin-top: -21px;
    
    ul {
      li {
        display: inline-block;
        font-family: $MediumCondensedOblique;
        margin-left: 10px;
        text-align: right;
      }

      li:before {
        content: "/";
      }
    }
  }

  article {
    margin: 70px 0;

    > header:before {
      content: "/";
    }

    > header {
      border-color: #000;
      border-style: solid;
      border-width: 0 0 1px 0;
      font-family: $HeavyCondensed;
      font-size: 19px;
      margin-bottom: 12px;
      padding-top: 5px;
    }

    blockquote {
      color: #8a9197;
      font-family: $UltraLightCondensedOblique;
      font-size: 32px;
      line-height: 40px;
      text-align: center;

      p:before,
      p:after {
        content: "\"";
      }

      footer {
        font-size: 26px;
      }
    }

    section {
      display: inline-block;
      width: 225px;
      vertical-align: top;
    
      > header {
        font-family: $MediumCondensedOblique;
        font-size: 17px;
      }

      ul {
        line-height: 20px;
        margin-left: 10px;
        margin-top: 5px;

        li {
          display: block; /*necessary*/
        }
      }
    }
  }

  article#tools {
    section {
      width: 175px;
    }
  }

  #environment {
    #ubiquitous-softwear {
      ul {
        height: 150px;

        -webkit-column-count: 2;
           -moz-column-count: 2;
                column-count: 2;
      }
    }
  }

  #latest {
    figure {
      text-align: center;

      figcaption {
        line-height: 20px;
        margin-top: 5px;
      }
    }
  }

  #brand-gallery {
    ul {
      li {
        /*background-color: #ccc;*/
        display: inline-block;
        height: 133px;
        max-height: 133px;
        margin-bottom: 12px;
        margin-right: 8px; /*12 total, 4 from inline-block*/
        text-align: center;
        line-height: 133px;
        vertical-align: middle;
        width: 133px;

        div {
          vertical-align: middle;
        }

        img {
          vertical-align: middle;

          /*filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
          filter: gray;
          -webkit-filter: grayscale(100%);

          -webkit-transition: all .5s ease-out;
          -moz-transition: all .5s ease-out;
          -ms-transition: all .5s ease-out;
          -o-transition: all .5s ease-out;
          transition: all .5s ease-out;*/
        }

        img:hover {
          cursor: default;

          /*filter: none;
          filter: grayscale(0);
          -webkit-filter: grayscale(0);
          -moz-filter: grayscale(0);
          -o-filter: grayscale(0);
          -ms-filter: grayscale(0);

          -webkit-transition: all .5s ease-out;
          -moz-transition: all .5s ease-out;
          -ms-transition: all .5s ease-out;
          -o-transition: all .5s ease-out;
          transition: all .5s ease-out;*/
        }
      }

      li:nth-child(5n) {
        margin-right: -12px;
      }
    }
  }

  #contact {
    #contact-info {
      line-height: 18px;
      margin-top: 20px;
    
      div {
        margin-top: 10px;
      }
    
      span.url {
        display: block;
      }
    }
  }

  > footer {
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 10px;
    margin-top: 125px;
    text-align: center;
  }
}