// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

article {
  header {
    border-width: 0;
  }
}

.page {
  float: left;

  p {
    margin-bottom: 11px;
  }
}

.page.section {
  width: 73%;

  header {
    margin-bottom: 22px;

    h1 {
      color: $headerColor;
      border-color: $headerColor;
      border-style: solid;
      border-width: 0 0 1px 0;
      font-size: 22px;
      font-weight: normal;
      padding-bottom: 10px;
      text-transform: uppercase;
    }
  }

  h2.sub-header {
    color: $headerColor;
    border-color: $headerColor;
    border-style: solid;
    border-width: 0 0 1px 0;
    font-size: 16px;
    font-weight: normal;
    margin: 22px 0;
    padding-bottom: 10px;
    text-transform: uppercase;
  }

  p {
    font-size: 11px;
    line-height: 15px;
  }

  p.note {
    font-size: 8px;
    font-style: italic;
  }

  ol {
    list-style-position: outside;
    margin-left: 18px;

    li {
      font-size: 11px;
      margin-bottom: 5px;
    }
  }

  ul {
    list-style: inherit;
    margin: 5px 0 10px;

    li {
      margin: 3px 0 4px 20px;
    }
  }

  .section-list {
    ul {
      margin: inherit;

      li:nth-child(3n+0){
        margin-right: 0;
      }

      li {
        display: inline-block;
        margin: 0 16px 40px 0;
        max-width: 220px;

        .section-item {
          margin-bottom: 8px;
        }

        h1 {
          color: $headerColor;
          font-size: 11px;
          margin-bottom: 4px;
        }

        h2 {
          font-weight: normal;
        }
      }
    }
  }

  .framed,
  .main-image,
  .section-list,
  .rep-list {
    margin-bottom: 20px;
  }

  .framed {
    background-color: $lightEven;
    padding: 6px 10px;
  }

  .framed > *:last-child {
    margin-bottom: 0;
  }

  .rep-list {
    ul {
      margin-top: 22px;

      li {
        display: inline-block;
        margin: 0 16px 40px 0;
        max-width: 220px;
        min-width: 220px;
        vertical-align: top;

        h1, h2 {
          color: #000;
          font-size: 11px;
          margin-bottom: 5px;
        }

        h1 {
          text-transform: uppercase;
        }

        h2, h3 {
          font-weight: normal;
        }

        h3 {
          margin-bottom: 15px;
        }

        h3:last-child {
          margin-bottom: 8px;
        }
      }

      li:nth-child(3n+0){
        margin-right: 0;
      }
    }
  }
}

.page#list-view {
  width: 720px;
  margin-right: -20px;
}

.page#error {
  h1 {
    border-color: $headerColor;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    color: $headerColor;
    font-size: 15px;
    margin-bottom: 17px;
    padding-bottom: 12px;
    text-transform: uppercase;
    width: 100%;
  }

  p {
    font-size: 11px;
    line-height: 13px;
  }
}

.page#product {
  width: 100%;
}

#home {
  margin-left: 0px;
  
  aside {
    margin-top: 20px;

    ul {
      display: inline-block;

      li {
        float: left;
        margin-right: 20px;
      }

      li:last-child {
        margin-right: 0;
      }
    }
  }
}

#list-view {
  ul {
    li {
      display: inline-block;
      margin-bottom: 30px;
      margin-right: 20px;
      max-width: 220px;
      vertical-align: top;

      div.list-view-image {
        img {
          max-width: 270px;
          max-height: 175px;
        }

        border-color: $headerColor;
        border-style: solid;
        border-width: 0 0 1px 0;
        padding: 10px 0px;
        margin-bottom: 10px;
      }

      div.list-view-info {
        font-size: 12px;

        h1,
        h2,
        h3 {
          font-weight: normal;
          margin-bottom: 8px;        
        }

        h2 {
          font-weight: bold;
          line-height: 14px;
        }

        h3 {
          color: $headerColor;
          display: inline-block;
          font-size: 10px;
          vertical-align: top;
        }

        ul {
          display: inline-block;
          width: 190px;

          li {
            color: $headerColor;
            font-size: 10px;
            margin-bottom: 0;
            margin-right: 0;
            margin-top: 2px;
          }

          /*Using :before because inline-block adds 
          trailing space to li's. Can't put them on 
          the same line becuase I'm using HAML. 
          There may be a way to do this, I just 
          haven't looked.*/
          li:after {
            content: ","
          }

          li:last-child:after {
            content: none;
          }
        }
      }
    }

    li:nth-child(3n) {
      margin-right: 0;
    }
  }
}