// Style Guide Mixins
@import '../mixins/style_guide.scss';

@media (min-width: 320px) and (max-width: 639px) {

  #content {
    // max-width: $siteMobileWidth;
    padding: rem(30);

    > header {
      @include flex-direction(column);
      @include align-self(center);

      margin-bottom: rem(30);

      #logo {
        background-image: asset-url('logo_centered.svg');

        margin-bottom: rem(20);
      }

      nav {
        @include align-self(center);
      }
    }

    main {
      blockquote {
        margin-bottom: rem(30);

        p, footer cite {
          font-size: rem(24);
          line-height: rem(32);

          font-style: normal;
        }
      }

      section {
        margin-bottom: rem(30);

        .content-block {
          p {
            margin: 0 0 0 rem(10);
          }
        }

        .project-block, .project-block:nth-of-type(even) {
          @include flex-direction(column);

          .project-image {
            margin: 0 0 rem(20) 0;
          }
        }
      }

      .section-group {
        @include flex-direction(column);
        @include justify-content(flex-start);

        section {
          width: 100%;
        }
      }
    }
  }
}