#admin
  %h1 Editing Location

  = render 'form'

  .links
    = link_to 'Show', @location, data: { confirm: 'Are you sure? Any unsaved changes will be lost.' }
    = link_to 'Back', manage_locations_path, data: { confirm: 'Are you sure? Any unsaved changes will be lost.' }
