.page
  #locations-column
    - if @locations
      %ul
        - @locations.each do |location|
          = render "location", location: location

  #map-column
    %h1 
      Find a retailer near you

    = render "map"
